@import './sass/theme.sass'
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Play&display=swap');

\:root
	@include defaultTheme

html,body,div,p,span
	font-family: 'Play','Noto Sans TC', sans-serif

/* scroll bar style */
::-webkit-scrollbar
	width: 6px
	height: 6px
	background-color: var(--color-background-secondary)
::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
	background-color: var(--color-background-secondary)
::-webkit-scrollbar-thumb
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: var(--color-background-tertiary)
	background-clip: padding-box

svg
	vertical-align: baseline

#root
	height: 100%